In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("social_factors_county.csv")

In [4]:
data

,state,county,county_population,nursing_home_count,nursing_homes_per_10k,convenience_store_count,convenience_stores_per_10k,grocery_store_count,grocery_stores_per_10k,pharmacy_count,pharmacies_per_10k,fqhc_count,fqhcs_per_10k,hospital_count,hospitals_per_10k,icu_bed_count,icu_beds_per_10k,inpatient_bed_count,inpatient_beds_per_10k
0,24,1,71977,16,2.22,10,1.39,14,1.95,20,2.78,3,0.42,2,0.28,15,2.08,316,43.90
1,24,3,567696,133,2.34,87,1.53,131,2.31,106,1.87,3,0.05,2,0.04,80,1.41,748,13.18
2,24,5,827625,212,2.56,155,1.87,235,2.84,168,2.03,4,0.05,7,0.08,171,2.07,1317,15.91
3,24,15,102517,24,2.34,31,3.02,27,2.63,17,1.66,1,0.10,2,0.20,9,0.88,109,10.63
4,24,17,157671,45,2.85,24,1.52,31,1.97,29,1.84,1,0.06,1,0.06,20,1.27,110,6.98
5,24,19,32261,8,2.48,3,0.93,10,3.10,7,2.17,10,3.10,3,0.93,0,0.00,47,14.57
6,24,21,248472,31,1.25,34,1.37,87,3.50,43,1.73,1,0.04,1,0.04,0,0.00,281,11.31
7,24,23,29376,7,2.38,11,3.74,11,3.74,9,3.06,2,0.68,1,0.34,4,1.36,59,20.08
8,24,25,251025,59,2.35,60,2.39,66,2.63,55,2.19,2,0.08,2,0.08,20,0.80,211,8.41
9,24,27,315327,88,2.79,36,1.14,88,2.79,54,1.71,2,0.06,3,0.10,34,1.08,244,7.74
10,24,29,19593,12,6.12,10,5.10,11,5.61,7,3.57,1,0.51,1,0.51,0,0.00,124,63.29
11,24,31,1040133,264,2.54,105,1.01,337,3.24,161,1.55,8,0.08,8,0.08,222,2.13,1663,15.99
12,24,33,906202,307,3.39,145,1.60,292,3.22,140,1.54,7,0.08,7,0.08,95,1.05,671,7.40
13,24,37,111531,10,0.90,11,0.99,30,2.69,15,1.34,1,0.09,1,0.09,12,1.08,91,8.16
14,24,39,25737,4,1.55,5,1.94,8,3.11,4,1.55,5,1.94,1,0.39,0,0.00,89,34.58
15,24,41,37211,10,2.69,9,2.42,20,5.37,10,2.69,9,2.42,1,0.27,0,0.00,132,35.47
16,24,43,149811,29,1.94,20,1.34,41,2.74,34,2.27,5,0.33,3,0.20,24,1.60,278,18.56
17,24,45,102172,17,1.66,31,3.03,34,3.33,26,2.54,7,0.69,3,0.29,24,2.35,302,29.56
18,24,47,51564,11,2.13,26,5.04,25,4.85,16,3.10,1,0.19,1,0.19,0,0.00,45,8.73
19,24,510,614700,578,9.40,162,2.64,322,5.24,139,2.26,47,0.76,18,0.29,658,10.70,3953,64.31
20,24,35,49355,7,1.42,9,1.82,16,3.24,8,1.62,1,0.20,0,0.00,0,0.00,0,0.00
21,24,11,32875,10,3.04,11,3.35,11,3.35,5,1.52,20,6.08,0,0.00,0,0.00,0,0.00
22,24,13,167522,45,2.69,26,1.55,35,2.09,39,2.33,0,0.00,2,0.12,12,0.72,143,8.54
23,24,9,91082,14,1.54,16,1.76,22,2.42,17,1.87,0,0.00,1,0.11,8,0.88,139,15.26

In [14]:
value_to_county = {1: 'Allegany', 3: 'Anne Arundel', 5: 'Baltimore county',
                  510: 'Baltimore city', 9: 'Calvert', 11: 'Caroline', 13: "Caroll", 
                  15: 'Cecil', 17: 'Charles', 19: 'Dorchester', 21: 'Frederick', 
                  23: 'Garrett', 25: 'Harford', 27: 'Howard', 29: 'Kent', 31: 'Montgomery', 
                  33: "Prince George's", 35: "Queen Anne's", 39: 'Somerset', 37: "St. Mary's", 
                  41: 'Talbot', 43: 'Washington', 45: 'Wicomico', 47: 'Worcester'}

In [19]:
for i in range (0, len(data.county)):
    data.county[i] = value_to_county[data.county[i]]

C:\Users\rklau\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\rklau\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [22]:
data2 = pd.read_csv("social_factors_hex.csv")

In [42]:
bools = []
for i in range(0, len(data2)):
    if data2.hexagon_id[i] in ids:
        bools.append(1)
    else:
        bools.append(0)

KeyboardInterrupt:

In [24]:
for i in range (0, len(data2.county)):
    data2.county[i] = value_to_county[data2.county[i]]

C:\Users\rklau\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
data2.loc[:2]

,hexagon_id,state,county,economic_risk,food_risk,housing_risk,healthlit_risk,covid_19_ssi,density_inpatient_beds,density_icu_beds,...,elder_male,teen_female,teen_male,children,pct_snap_utilizers,pct_snap_eligible,pharmacy_idw,provider_idw,percent_low_ed,pop_25_and_over
0,24001_014561,24,Allegany,1,2,1,3,3,43.9,2.08,...,0.295609,0.070993,0.102416,0.045389,0.170678,0.361050,0.0,0.0,0.072660,0.945019
1,24001_011289,24,Allegany,1,2,1,4,4,43.9,2.08,...,3.197616,0.671822,0.852698,1.195069,0.168088,0.409257,0.0,0.0,0.135894,8.746611
2,24001_008505,24,Allegany,1,1,1,3,5,43.9,2.08,...,1.361055,0.106189,0.088943,0.320187,0.154114,0.428013,0.0,0.0,0.095978,4.286291

In [31]:
data2[data2.covid_19_ssi == 1]

,hexagon_id,state,county,economic_risk,food_risk,housing_risk,healthlit_risk,covid_19_ssi,density_inpatient_beds,density_icu_beds,...,elder_male,teen_female,teen_male,children,pct_snap_utilizers,pct_snap_eligible,pharmacy_idw,provider_idw,percent_low_ed,pop_25_and_over
8,24001_004480,24,Allegany,3,3,1,3,1,43.90,2.08,...,1.496200,0.130104,0.162630,0.536681,0.097643,0.198653,0.000000,0.000000,0.051370,4.748810
209,24001_004309,24,Allegany,3,3,1,3,1,43.90,2.08,...,0.121829,0.010594,0.013242,0.043700,0.097643,0.198653,0.000000,0.000000,0.051370,0.386676
225,24003_074973,24,Anne Arundel,5,4,5,1,1,13.18,1.41,...,0.015150,0.004745,0.002564,0.005806,0.000000,0.072711,0.002491,0.248975,0.012118,0.055942
238,24003_016753,24,Anne Arundel,4,4,4,3,1,13.18,1.41,...,1.179273,0.361893,0.530361,0.680110,0.025559,0.035144,0.471034,3.000000,0.071429,4.367678
243,24003_076662,24,Anne Arundel,3,5,3,2,1,13.18,1.41,...,0.937750,0.114360,0.260740,0.526055,0.000000,0.043974,0.000000,0.223973,0.041229,2.829262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398385,24047_007570,24,Worcester,3,2,2,5,1,8.73,0.00,...,0.810114,0.308615,0.189377,0.403303,0.028090,0.199438,0.000000,0.000000,0.219731,2.346173
398389,24047_010227,24,Worcester,3,2,3,3,1,8.73,0.00,...,0.188941,0.059134,0.015144,0.128364,0.000000,0.168367,0.000000,0.000000,0.049163,0.689417
398393,24047_006172,24,Worcester,3,2,2,5,1,8.73,0.00,...,0.444053,0.169163,0.103805,0.221065,0.028090,0.199438,0.000000,0.000000,0.219731,1.286023
398410,24047_008481,24,Worcester,3,2,2,5,1,8.73,0.00,...,0.388011,0.147814,0.090704,0.193166,0.028090,0.199438,0.000000,0.000000,0.219731,1.123720
398416,24047_015857,24,Worcester,3,4,3,3,1,8.73,0.00,...,0.003000,0.000939,0.000240,0.002038,0.000000,0.168367,0.000000,0.000000,0.049163,0.010947

In [32]:
rank1 = data2[data2.covid_19_ssi == 1]
rank2 = data2[data2.covid_19_ssi == 2]
rank3 = data2[data2.covid_19_ssi == 3]
rank4 = data2[data2.covid_19_ssi == 4]
rank5 = data2[data2.covid_19_ssi == 5]

In [34]:
geom = pd.read_csv("hexagon_geometry.csv")

In [36]:
ids = [i for i in geom.hexagon_id]

In [38]:
rank1

,hexagon_id,state,county,economic_risk,food_risk,housing_risk,healthlit_risk,covid_19_ssi,density_inpatient_beds,density_icu_beds,...,elder_male,teen_female,teen_male,children,pct_snap_utilizers,pct_snap_eligible,pharmacy_idw,provider_idw,percent_low_ed,pop_25_and_over
8,24001_004480,24,Allegany,3,3,1,3,1,43.90,2.08,...,1.496200,0.130104,0.162630,0.536681,0.097643,0.198653,0.000000,0.000000,0.051370,4.748810
209,24001_004309,24,Allegany,3,3,1,3,1,43.90,2.08,...,0.121829,0.010594,0.013242,0.043700,0.097643,0.198653,0.000000,0.000000,0.051370,0.386676
225,24003_074973,24,Anne Arundel,5,4,5,1,1,13.18,1.41,...,0.015150,0.004745,0.002564,0.005806,0.000000,0.072711,0.002491,0.248975,0.012118,0.055942
238,24003_016753,24,Anne Arundel,4,4,4,3,1,13.18,1.41,...,1.179273,0.361893,0.530361,0.680110,0.025559,0.035144,0.471034,3.000000,0.071429,4.367678
243,24003_076662,24,Anne Arundel,3,5,3,2,1,13.18,1.41,...,0.937750,0.114360,0.260740,0.526055,0.000000,0.043974,0.000000,0.223973,0.041229,2.829262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398385,24047_007570,24,Worcester,3,2,2,5,1,8.73,0.00,...,0.810114,0.308615,0.189377,0.403303,0.028090,0.199438,0.000000,0.000000,0.219731,2.346173
398389,24047_010227,24,Worcester,3,2,3,3,1,8.73,0.00,...,0.188941,0.059134,0.015144,0.128364,0.000000,0.168367,0.000000,0.000000,0.049163,0.689417
398393,24047_006172,24,Worcester,3,2,2,5,1,8.73,0.00,...,0.444053,0.169163,0.103805,0.221065,0.028090,0.199438,0.000000,0.000000,0.219731,1.286023
398410,24047_008481,24,Worcester,3,2,2,5,1,8.73,0.00,...,0.388011,0.147814,0.090704,0.193166,0.028090,0.199438,0.000000,0.000000,0.219731,1.123720
398416,24047_015857,24,Worcester,3,4,3,3,1,8.73,0.00,...,0.003000,0.000939,0.000240,0.002038,0.000000,0.168367,0.000000,0.000000,0.049163,0.010947

In [44]:
data2.head()

,hexagon_id,state,county,economic_risk,food_risk,housing_risk,healthlit_risk,covid_19_ssi,density_inpatient_beds,density_icu_beds,...,elder_male,teen_female,teen_male,children,pct_snap_utilizers,pct_snap_eligible,pharmacy_idw,provider_idw,percent_low_ed,pop_25_and_over
0,24001_014561,24,Allegany,1,2,1,3,3,43.9,2.08,...,0.295609,0.070993,0.102416,0.045389,0.170678,0.361050,0.000000,0.000000,0.072660,0.945019
1,24001_011289,24,Allegany,1,2,1,4,4,43.9,2.08,...,3.197616,0.671822,0.852698,1.195069,0.168088,0.409257,0.000000,0.000000,0.135894,8.746611
2,24001_008505,24,Allegany,1,1,1,3,5,43.9,2.08,...,1.361055,0.106189,0.088943,0.320187,0.154114,0.428013,0.000000,0.000000,0.095978,4.286291
3,24001_000961,24,Allegany,2,2,1,3,3,43.9,2.08,...,0.000248,0.000000,0.000000,0.000135,0.214112,0.352798,0.000000,0.000000,0.096587,0.000925
4,24001_005770,24,Allegany,3,2,1,3,2,43.9,2.08,...,0.800486,0.035871,0.084957,0.269975,0.085956,0.129540,1.506042,2.474016,0.059949,2.960290

In [45]:
geom.head()

,hexagon_id,state,county,hex_geometry
0,24019_017327,24,19,MULTIPOLYGON (((-76.13311864441356 38.35074978...
1,24019_019835,24,19,MULTIPOLYGON (((-76.10347424003761 38.50863411...
2,24019_020262,24,19,MULTIPOLYGON (((-76.09723097827252 38.53179783...
3,24019_020270,24,19,MULTIPOLYGON (((-76.09808434833288 38.46950147...
4,24019_020940,24,19,MULTIPOLYGON (((-76.08999951077583 38.49273906...

In [47]:
bools = []
for i in geom.iloc[:,0].isin(list(data2.iloc[:, 0])):
    if i == True:
        bools.append(1)
    else:
        bools.append(0)

In [50]:
len([i for i in bools if i == 0])

1689

In [55]:
bools = []
for i in data2.iloc[:, 0].isin(list(geom.iloc[:,0])):
    if i == True:
        bools.append(1)
    else:
        bools.append(0)

In [58]:
len([i for i in bools if i == 1])

398739

In [61]:
temp = {}
count = 0

for i in geom.iloc[:, 0].isin(list(data2.iloc[:, 0])):
    if i == True:
        temp[geom.iloc[count, 0]] = count
    count += 1
len(temp)

398739

In [88]:
temp = geom.iloc[list(temp.values()), :]

In [74]:
final = geom.sort_values(by = ['hexagon_id'])

In [93]:
social_ssi = [int(i) for i in data2.covid_19_ssi]

In [94]:
temp['covid_19_ssi'] = social_ssi

C:\Users\rklau\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
final = temp

In [97]:
final

,hexagon_id,state,county,hex_geometry,covid_19_ssi
0,24019_017327,24,19,MULTIPOLYGON (((-76.13311864441356 38.35074978...,3
1,24019_019835,24,19,MULTIPOLYGON (((-76.10347424003761 38.50863411...,4
2391,24019_020262,24,19,MULTIPOLYGON (((-76.09808434833288 38.53063680...,5
3,24019_020270,24,19,MULTIPOLYGON (((-76.09808434833288 38.46950147...,3
4,24019_020940,24,19,MULTIPOLYGON (((-76.08999951077583 38.49273906...,2
...,...,...,...,...,...
480462,24031_084579,24,31,MULTIPOLYGON (((-76.90051479262726 39.12124743...,5
480463,24031_084580,24,31,MULTIPOLYGON (((-76.90072905469368 39.12274850...,5
480464,24031_084585,24,31,MULTIPOLYGON (((-76.89938158176751 39.12335449...,5
480465,24031_084586,24,31,MULTIPOLYGON (((-76.89915460190718 39.12183628...,5
480466,24031_084589,24,31,MULTIPOLYGON (((-76.89778526390401 39.12241277...,5

In [99]:
final1 = final[final['covid_19_ssi'] == 1]
final2 = final[final['covid_19_ssi'] == 2]
final3 = final[final['covid_19_ssi'] == 3]
final4 = final[final['covid_19_ssi'] == 4]
final5 = final[final['covid_19_ssi'] == 5]

In [102]:
final1.to_csv('final1.csv')

In [103]:
final2.to_csv('final2.csv')
final3.to_csv('final3.csv')
final4.to_csv('final4.csv')
final5.to_csv('final5.csv')